/*--Início da estilização das bordas--*/
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {
    border:3px;
    border-style: groove;
}
p.ridge {
    border: 3px;
    border-style: ridge;
}
p.inset {
    border:3px;
    border-style: inset;
}
p.outset {
    border:3px;
    border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {
    border: 3px;
    border-style: dotted dashed solid double;}

/*---Fim da Estilização das bordas---*/

/*--- Início das Margins ---*/

.control-margin{
    border:1px solid rgb(255, 0, 208);
    margin:20px 10%  1% 20%;
    margin-top: 20px;
    margin-right:10%;
    margin-bottom: 10px;
    margin-left: 20%;
}
.control-padding{
    border:1px solid rgb(255, 0, 208);
    margin:20px 1%  10px 20%;
    margin-top: 20px;
    margin-right:10%;
    margin-bottom: 10px;
    margin-left: 20%;
}

/*--- Fim das Margins ---*/

/*---Início da manipulação do tamanho---*/
.control-height-widht{
    border:1px solid rgb(255, 0, 208);
    height:300px;
    max-width:300px;
   
}

.div-pai{
    margin: 20px;
    height: 300px;
    width: 600px;
    background-color:black;
}

.div-filho{
    width: 60%;
    height: 40px;
    margin: auto;
    background-color: darkmagenta;
    text-align: center;
}